{% extends 'BakeryApp/base.html' %}

{% block content %}

<section id="about-section">
    <h1 class="about">About Us</h1>
    <img src="https://madewithlovebyme.files.wordpress.com/2012/07/wm-02b-small-green-and-white-cake.jpg" alt="picture of a cake">
    <p>Establish in 1968. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut scelerisque ipsum quis dolor dictum, vel semper mi imperdiet. Mauris accumsan sed dolor quis venenatis. Aenean in odio vehicula, elementum erat a, pulvinar elit. Ut fermentum dui in ligula pulvinar molestie. Nullam ac vulputate sapien. Suspendisse ut leo ac dui pretium fringilla. Integer sit amet tempus mauris. Cras a nunc eleifend, blandit odio at, facilisis leo. Sed tristique neque vel neque malesuada, ut euismod augue tincidunt. Proin ac dolor eros. Etiam vulputate tellus et leo euismod, ac gravida mauris sagittis.</p>
</section>
{% endblock %}
